.canvas {
	background: linear-gradient(to right, white, lightgrey);
	box-shadow: 0 0 40px rgba(0,0,0,0.5);
}

.press {
	background: linear-gradient(to right, black, grey);
	color: lightgrey;
	border: 1px solid lightgrey;
}

button {
	background: linear-gradient(to right, white, lightgrey);
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
	outline: none;
	border: 1px solid black;
	padding: 5px;
}
