table{
	color: white;
}

td, th {
    background: purple; 
    padding: 10px;
   }
 #false{
  	background: purple;
  }

 #true{
  	background: green;
  }

#myDiv2{
    font-family: Courier;
    color: purple;
    font-size: 105px;
    text-align: center;
    margin: 0 auto;
    padding: 280px;
}
